<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {text-align:center}
    </style>
</head>
<body>
<div class="jumbotron">
    name {{ user.name }}
    email {{ user.email }}
    <img src="http://romenys.dev/{{ user.avatar }}" alt="">
    <hr>
    {{ user.profile }}
</div>
</body>
</html>
