<div id="container">
<h1>Aston Assurances</h1>
<p><a href="/#/client/new">Ajouter un nouveau client</a></p>
<p><b>Liste des clients</b></p>
<table class="table">
	<tr><th>ID</th><th>Nom</th><th>Prénom</th><th>Email</th><th></th><th></th></tr>
    <tr ng-repeat="client in clients"><td>{{ client.id }}</td><td>{{ client.nom }}</td><td>{{ client.prenom }}</td><td>{{ client.email }}</td><td><a href="/#/client/update/{{ client.id }}">Modifier</a></td><td><a href="/#/client/delete/{{ client.id }}">Supprimer</a></td></tr>
</table>

</div>

